@import "_data.scss";


span {
  color: inherit;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}

blockquote {
  &:after,
  &:before {
    content: '';
  }
}

ul>li {
  margin: 0.5em *;
}

q {
  &:after,
  &:before {
    content: '';
  }
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
object,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
var {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}

strong {
  font-weight: 700;
  color: inherit;
}

.fw-normal,
caption,
td,
th {
  font-weight: 400;
}

body {
  color: #000;
  background: #fff;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

caption,
td,
th {
  text-align: left;
}

blockquote,
q {
  quotes: '«' '»';
}

iframe {
  display: block;
}

a {
  color: $text_blue;
}

.disable-hover {
  pointer-events: none;
}

body>.all-visible {
  min-height: 100vh;
  transition: transform .2s;
  display: flex;
  flex-direction: column;
}

form *,
table * {
  font-family: $font;
  line-height: 1.2;
  box-sizing: border-box;
  transition: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn,
.button {
  user-select: none;
  font-family: sans-serif;
}

p {
  user-select: auto;
  cursor: text;
}

input {
  cursor: text;
}

a,
a *,
label {
  cursor: pointer;
}

.limit,
.article-limit {
  overflow: hidden;
  max-width: calc($col_total * 9);
  /* 1170px */
  margin: auto;
  padding: 0 20px;
  position: relative;
}

.article-limit {
  max-width: calc($col_width * 8 + $col_space *7);
}

.visible {
  visibility: visible !important;
}


@mixin media-maw 480px {
  html {
    font-size: 75%;
  }
  p,
  a {
    line-height: 1.6;
  }
}

.blue {
  color: $text_blue;
}

.green {
  color: $text_green;
}

.section-title {
  font-size: 34px;
  @extend f-black;
  line-height: 1.12;
  color: $text_gray;
  padding: 3px 0 30px;
  border-bottom: 1px solid $lines_gray;
  position: relative;
  &:after {
    @extend pseudo;
    width: 110px;
    height: 3px;
    background-color: $lines_green;
    position: absolute;
    bottom: -2px;
    margin: auto;
  }
  &.center,
  &.centered {
    text-align: center;
    &:after {
      left: 0;
      right: 0;
    }
  }
}

ul.check-list {
  padding-left: 2rem;
  margin: 1.875rem *;
  li {
    margin: 1rem *;
    list-style: none;
    line-height: 1.44;
    font-size: 1.125rem;
    color: $text_black;
    position: relative;
    &:before {
      @extend pseudo;
      background-image: url(../img/bullet-check.svg);
      background-size: cover;
      background-position: center;
      height: 1.25rem;
      width: 1.25rem;
      position: absolute;
      left: -2rem;
      top: 0.125rem;
    }
  }
}