/*==============================
=            Mixins            =
==============================*/


@define-mixin media-maw $width {
	@media screen and (max-width: $width) {
		@mixin-content
	}
}

@define-mixin media-miw $width {
	@media screen and (min-width: $width) {
		@mixin-content
	}
}

@define-mixin retina $url {
	@media 
		only screen and (min-resolution: 120dpi) { 
			background-image: url($url);
			@mixin-content
	}
}


/*=====  End of Mixins  ======*/



/*=================================
=            Variables            =
=================================*/

$font: 'Lato', 'PT Sans', 'Segoe UI', arial, sans-serif;

$col_width: 68px;
$col_space: 29.5px;
$col_total: calc($col_width + $col_space);


$bg_blue_light: #0255a3;
$bg_blue_dark: #004282;
$bg_gray: #f5f5f5;
$bg_white: #ffffff;

$text_dark: #181818;
$text_black: #26282d;
$text_gray: #3b444a;
$text_gray_medium: #888888;
$text_light: #b1b5b7;
$text_blue: #0a4092;
$text_red: #ff1845;
$text_green: #9ab93a;

$ui_orange: #ffc900;
$ui_blue: #3897f1;
$ui_gray: #d8d8d8;

$lines_gray: #dddddd;
$lines_red: #ff7e97;
$lines_green: #aec826;
$lines_dark-blue: #256194;

/*=====  End of Variables  ======*/



/*===================================
=            Inheritance            =
===================================*/


@define-placeholder f-normal {
	font-weight: 400;
	font-family: $font;
}

@define-placeholder f-bold {
	font-weight: 700;
	font-family: $font;
}

@define-placeholder f-black {
	font-weight: 900;
	font-family: $font;
}

@define-placeholder pseudo {
	display: block;
	content: ' ';
	position: absolute;
}



/*=====  End of Inheritance  ======*/