@import "_data.scss";


.form {
	max-width: calc($col_width *6 + $col_space *5);
	&.full-width {
		max-width: none;
		width: 100%;
	}
	.big-text {
		font-size: 2.125rem;
		margin: 2.625rem 0 1rem;
		@extend f-black;
		line-height: 1.12;
		color: $text_gray;
	}
	.medium-text,
	.group-caption {
		color: $text_gray;
		line-height: 1.5;
		font-size: 20px;
		margin: 16px *;
	}
	form {
		max-width: calc($col_width *6 + $col_space *5);
	}
	.progress-bar {
		margin: 50px 0 42px;
		width: 275px;
		@mixin media-maw 450px {
			margin: 40px 0 32px;
		}
	}
	.inputs-group {
		margin: 34px *;
		@mixin media-maw 450px {
			margin: 30px *;
		}
	}
	.inline-inputs {
		@mixin media-miw 450px {
			display: flex;
			margin: 15px *;
			>* {
				margin: 0 * !important;
			}
			>*+* {
				margin-left: 14px;
			}
		}
		>.big {
			flex-grow: 10;
		}
		>.medium {
			flex-grow: 5;
		}
		>.small {
			flex-grow: 0;
		}
	}
	.input-subscription {
		font-size: 14px;
		line-height: 1.43;
		color: $text_gray;
		margin: 0 * ;
		transform: translateY(-5px);
		display: inline-block;
	}
	hr {
		height: 1px;
		border: none;
		margin: 38px * 0;
		background-color: $lines_gray;
	}
	.btns {
		margin: 30px *;
		@mixin media-maw 450px {
			margin: 20px *;
		}
	}
	.btn {
		min-width: 166px;
		&.fl-r {
			float: right;
		}
	}
	.inline-input-n-desc {
		display: flex;
		align-items: center;
		.caption {
			padding-right: 30px;
		}
		input,
		taxtarea,
		label,
		select {
			width: 100%;
			flex-basis: auto;
		}
		@mixin media-maw 425px {
			max-width: none !important;
			width: 100%;
			input,
			taxtarea,
			label,
			select {
				max-width: none !important;
				width: 100%;
			}
		}
	}
	.radio-btns {
		@mixin media-miw 425px {
			&.inline {
				label.input-radio {
					display: inline-block;
					margin: 0;
				}
				.text {
					margin-right: 30px;
				}
			}
		}
		label.input-radio {
			display: table;
			margin: 10px;
		}
	}
}