@import "_data.scss";

@import "normalize.scss";
@import "_base.scss";
@import "form.scss";
@import "tables.scss";
@import "ui-elements.scss";

/*============================
=            Grid            =
============================*/

$hex-sector-width: 1em;
$hex-space: calc($hex-sector-width/15);

$hex-sector-height: calc($hex-sector-width * 1.734);
$hex-triangle-height: calc($hex-sector-height/2 * 0.5768); /* ratio of leg to hypotenuse with one constant of the second leg. */
$hex-offset: calc($hex-space - ($hex-sector-width * .135));
$hex-V-translate: calc($hex-offset * .88);
$hex-H-translate: calc($hex-triangle-height + $hex-offset);

.wrapper {
	/* border: 1px solid gray; */
	padding: 30px *;
	display: flex;
	justify-content: center;
}

.grid {
	line-height: 0;
	font-size: 16px;
	/* margin-left: calc($hex-triangle-height + $hex-offset); */
	margin-right: calc($hex-triangle-height + $hex-offset);
	margin-top: calc(0px - $hex-V-translate - $hex-offset*1.5);
	margin-bottom: calc(0px - $hex-V-translate - $hex-offset*1.5);
	.row {
		margin: 0;
		padding: 0;
	}
	.row:nth-child(even) {
		position: relative;
		left: calc($hex-sector-width + $hex-offset);
	}
	.row:nth-child(odd) {
		position: relative;
	}
	.hex {
		position: relative;
		margin: $hex-offset 0;
		width: $hex-sector-width;
		height: $hex-sector-height;
		margin-top: $hex-V-translate;
		margin-bottom: $hex-V-translate;
		border-radius: calc($hex-sector-width/6) / calc($hex-sector-width /12);
		background-color: currentColor;
		color: black;
		opacity: .8;
		cursor: pointer;
		transform: rotate(-90deg);
		display: inline-block;
		margin: * $hex-H-translate;
		transition: background-color 150ms ease-in-out;
		&:first-child {
			margin-left: 0;
		}
		&:before,
		&:after {
			z-index: -1;
			position: absolute;
			width: inherit; height: inherit;
			border-radius: inherit;
			background: currentColor;
			content: '';
		}
		&:before {
			transform: rotate(60deg);
		}
		&:after {
			transform: rotate(-60deg);
		}
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
		&.hidden {
			opacity: .1;
			pointer-events: none;
			user-select: none;
		}
	}
}

/*=====  End of Grid  ======*/




.section-title {
	font-size: 34px;
	@extend f-black;
	line-height: 1.12;
	color: $text_gray;
	padding: 3px 0 30px;
	border-bottom: 1px solid $lines_gray;
	position: relative;
	&:after {
		@extend pseudo;
		width: 110px;
		height: 3px;
		background-color: $lines_green;
		position: absolute;
		bottom: -2px;
		margin: auto;
	}
	.blue {
		color: $text_blue;
	}
	&.center,
	&.centered {
		text-align: center;
		&:after {
			left: 0;
			right: 0;
		}
	}
}



form {
	padding: 1px;
}

table.hidden {
	display: none;
}