@import "_data.scss";

.table-wrapper {
	width: 100%;
	overflow: auto;
	table {
		width: 100%;
		/* border-collapse: collapse; */
		margin: 40px * 60px;
		border-radius: 6px;
		border: solid 1px $lines_gray;
		overflow: hidden;

		tbody tr:last-child,
		tbody tr:last-child * {
			th,
			td {
				border-bottom: none;
			}
		}
	}
	&.highlighted tbody tr:nth-child(odd) {
		background-color: $bg_gray;
	}
	th,
	td {
		padding: 1.125rem 1.25rem 1.1875rem;
		border-bottom: solid 1px $lines_gray;
		border-right: solid 1px $lines_gray;
		vertical-align: middle;
		&:last-child {
			border-right: none;
		}
		font-size: 1rem;
		line-height: 1.38;
		color: $text_gray;
		&.center {
			text-align: center;
		}
	}
	th[rowspan]:last-child,
	td[rowspan]:last-child {
		border-left: solid 1px $lines_gray;
	}
	th {
		color: $text_gray_medium;
	}
	.column-title {
		color: $text_gray;
	}
	.bold {
		font-size: 0.875rem;
		@extend f-black;
		line-height: 1.43;
		letter-spacing: 1.8px;
		text-transform: uppercase;
	}
	th.green {
		background-color: $text_green;
		border: none;
		color: #fff;
		height: 75px;
		/* This is bullshit, but idk how to preserve zebra order regardless of the parity of the cell. Sorry */
		& + th,
		& + td {
			background-color: #7ca701;
			& + th,
			& + td {
				background-color: $text_green;
				& + th,
				& + td {
					background-color: #7ca701;
					& + th,
					& + td {
						background-color: $text_green;
					}
				}
			}
		}
	}
	.text {
		display: inline-block;
	}
	ul {
		margin: -16px *;
	}
	li {
		text-align: left;
	}
	.delimiter-title {
		font-size: 1.5rem;
		@extend f-black;
		line-height: 1.25;
		color: $text_gray;
	}
	.delimiter {
		background-color: #fff !important;
	}
	tbody + .delimiter {
		td,
		th {
			border-bottom: solid 1px $lines_gray;
			border-top: solid 1px $lines_gray;
		}
	}
}