@import "_data.scss";

.btn {
	padding: 20px 40px 19px;
	border-radius: 50px;
	border: none;
	background-color: $bg_gray;
	display: inline-block;
	cursor: pointer;
	color: $text_black;
	box-shadow: none;
	outline: none;

	font-size: 18px;
	@extend f-black;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	text-align: center;
	transition: background-color .4s, color .4s;
	&:hover,
	&:focus {
		transition-duration: .2s;
	}
	&:focus {
		box-shadow: 0 0 10px $bg_gray;
	}
	&.small {
		padding: 13px 20px;
		font-size: 14px;
	}
	&.yellow {
		background-color: $ui_orange;
		&:hover,
		&:focus {
			background-color: color($ui_orange b(30));
			color: white
		}
		&:focus {
			box-shadow: 0 0 10px $ui_orange;
		}
	}
	&.blue {
		background-color: $ui_blue;
		color: white;
		font-size: 14px;
		@extend f-black;
		line-height: 1.36;
		letter-spacing: 1.8px;
		text-align: center;
		&:hover,
		&:focus {
			background-color: color($ui_blue b(30));
		}
		&:focus {
			box-shadow: 0 0 10px $ui_blue;
		}
	}
	&[disabled] {
		&,
		&:hover {
			cursor: default;
			background-color: color(black a(.3));
			color: white;
		}
	}
	&.success {
		&,
		&:hover {
			cursor: default;
			background-color: $lines_green;
			color: $text_black;
		}
	}
	&.error {
		&,
		&:hover {
			cursor: default;
			background-color: $lines_red;
			color: $text_black;
		}
	}
}






/*==================================
=            Input text            =
==================================*/

label.input-number,
label.input-text,
label.input-date,
label.input-textarea {
	height: 56px;
	min-width: calc($col_width *2 + $col_space);
	flex-basis: calc($col_width *2 + $col_space);
	display: block;
	border-radius: 6px;
	background-color: #ffffff;
	border: solid 1px $lines_gray;
	padding: 16px;
	margin: 15px *;
	position: relative;
	.input-title {
		position: absolute;
		user-select: none;
		top: 16px;
		left: 16px;
		right: 16px;
		bottom: 16px;
		font-size: 16px;
		color: $text_gray_medium;
		transform-origin: left center;
		transition: transform .2s;
		white-space: nowrap;
	}
	input,
	textarea {
		background-color: transparent;
		transform: translateY(9px);
		font-size: 16px;
		width: 100%;
		border-width: 0;
		border-color: transparent;
		outline: none !important;
		box-shadow: none !important;
		color: black;
		padding: 0;
		cursor: pointer;
		&:focus {
			cursor: text;
		}
		&::placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&::-ms-input-placeholder {
			color: transparent;
		}
		&:-ms-input-placeholder {
			color: transparent;
		}
		&:focus::placeholder {
			color: gray;
		}
		&:focus:-moz-placeholder {
			color: gray;
		}
		&:focus::-moz-placeholder {
			color: gray;
		}
		&:focus::-webkit-input-placeholder {
			color: gray;
		}
		&:focus::-ms-input-placeholder {
			color: gray;
		}
		&:focus:-ms-input-placeholder {
			color: gray;
		}
	}
	input[title=""],
	textarea[title=""] {
		transform: none;
		& ~ .input-title {
			display: none;
		}
	}
	input[title=""] {
		font-size: 18px;
	}
	&.empty .input-title {
		transform: translateY(0px) scale(1);
	}
	input:focus~.input-title,
	textarea:focus~.input-title,
	&.not-empty .input-title {
		transform: translateY(-11px) scale(.9);
	}
	&.invalid,
	&.different {
		border-color: $lines_red;
		.input-title {
			color: $text_red !important;
		}
	}
	&.focused {
		border-color: $lines_green;
		.input-title {
			color: $text_blue;
		}
	}
	input:disabled ~ * {
		opacity: .45;
	}
	&.half-line {
		max-width: calc(50% - 14px/2);
	}
	@mixin media-maw 425px {
		&.half-line {
			max-width: 100%;
		}
	}
}

label.input-textarea {
	height: auto;
	padding-bottom: 19px;
	textarea {
		height: 6rem;
		resize: none;
		transform: translateY(12px);
	}
}


/*=====  End of Input text  ======*/



/*=====================================
=            Radio Buttons            =
=====================================*/

label.input-radio {
	input {
		position: absolute;
		width: 19px;
		height: 19px;
		opacity: 0;
		margin: 6px 2px;
	}
	.text {
		margin-left: 33px;
		position: relative;
		user-select: none;
		display: block;
		margin: 0 * !important;
		&:before,
		&:after {
			@extend pseudo;
			left: -33px;
			top: 5px;
			margin: auto;
			border-radius: 100%;
		}
		&:before {
			width: 20px;
			height: 20px;
			background-color: #ffffff;
			border: solid 1px #c6c6c6;
		}
		&:after {
			left: -28px;
			height: 12px;
			width: 12px;
			top: 10px;
			background-color: #000000;
			opacity: 0;
			transition: opacity .1s;
		}
	}
	input:checked + .text {
		&:after {
			opacity: 1;
		}
	}
	input:focus + .text {
		&:before {
			border-color: $lines_green;
		}
		&:after {
			opacity: 1;
			background-color: $lines_green;
		}
	}
	input:disabled ~ * {
		opacity: .45;
	}
}

/*=====  End of Radio Buttons  ======*/



/*=====================================
=            Number inputs            =
=====================================*/

label.input-number {
	overflow: hidden;
	padding-right: 29px;
	input[type=number] {
		-moz-appearance: textfield;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}
	}
	&.focused {
		.btns .button {
			border-color: $lines_green;
		}
	}
	.btns {
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		@mixin media-maw 425px {
			flex-direction: row-reverse;
		}
		.button {
			height: calc(50% + 2px);
			border: solid 1px $lines_gray;
			color: color(black a(.7));
			text-align: center;
			padding: * 6px;
			display: flex;
			align-items: center;
			font-size: 18px;
			margin-right: -1px;
			margin-top: -1px;
			padding-top: 1px;
			margin-bottom: -1px;
			&:first-child {
				margin-bottom: 0;
			}
			@extend f-bold;
			&:hover {
				background-color: $bg_gray;
			}
			@mixin media-maw 425px {
				height: calc(100% + 2px);
				padding: * 14px;
				font-size: 22px;
				&:hover {
					background-color: transparent;
				}
				margin-right: 0;
				&:first-child {
					margin-bottom: -1px;
					margin-left: -1px;
					margin-right: -1px;
				}
			}
		}
	}
}

/*=====  End of Number inputs  ======*/
